
*{
  margin: 0px;
}
/* STYLE SECTIONING TAGS */
body {
 background-color: rgb(255, 232, 214); 
 text-align: left;
 font-family: "Georgia", serif;
}

header {
  background-color: rgb(221, 190, 169);
}

/* STYLE TEXT */

h1 {
  color: rgb(107, 112, 92);
  font-size: 250%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 5%;
  padding-left: 5%;
}

h2 {
  color: rgb(107, 112, 92);
  font-size: 150%
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-right: 5%;
  padding-left: 5%;
}

p {
  text-align: left;
  line-height: 150%;
  padding-top: 0em;
  padding-bottom: 1em;
  padding-right: 5%;
  padding-left: 5%;
}

/* STYLE IMAGES */

img {
  max-width: 50%;
  max-height: 50%;
  margin-top: 1em;
  margin-bottom: 3em;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 15%;
  border: 5px solid rgb(221, 190, 169);
}

iframe {
  max-width: 50%;
  max-height: 50%;
  margin-top: 1em;
  margin-bottom: 3em;
  margin-right: 5%;
  margin-left: 5%;
}

/* STYLE NAV BAR */
  nav {
    padding-top: 0;
    padding-bottom: 3em;
    padding-right: 0;
    padding-left: 0;
  }

  #circle {
    border-radius: 50%;
  }

  .dark {
    color: rgb(107, 112, 92);
  }

  .center {
    padding-left: 2.5%;
    padding-right: 0;
  }

  #port {
    padding-left: 0;
  }

  #pad {
    padding-top: 1.5em;
  }

  ul {
    list-style-type: none;
    background-color: rgb(203, 153, 126);
    overflow: hidden;
    padding: 1em;
  }

  li {
    display: inline;
  }

  li a {
    text-decoration: none;
    color: rgb(255, 232, 214);
    font-size: 1.3em;
    padding: 1em;
  }

  li a:hover {
    background-color: rgb(223, 169, 140);
  }